# Install Java, Spark, and Findspark
This installs Apache Spark 2.3.2, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [103]:
!pip install py4j
!pip install pyspark

Requirement already satisfied: py4j in /usr/local/lib/python3.6/dist-packages (0.10.7)
Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

# Set Environment Variables
Set the locations where Spark and Java are installed.

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

# Start a SparkSession
This will start a local Spark session.

In [0]:
import os
import time

In [0]:
# spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType
from pyspark.mllib.recommendation import ALS

In [0]:
# data science imports
import math
import numpy as np
import pandas as pd

# visualization imports
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
import findspark
findspark.init("spark-2.4.4-bin-hadoop2.7")# SPARK_HOME

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [109]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
!cp /content/gdrive/My\ Drive/MscsDs/msdchallenge/kaggle_visible_evaluation_triplets.txt .

In [0]:
!cp -r /content/gdrive/My\ Drive/MscsDs/MSongsDB-master/PythonSrc .

In [0]:
# ! cd /content/gdrive/My\ Drive/MscsDs/ && tar -zxvf millionsongsubset_full.tar.gz

In [112]:
users = pd.read_table('./kaggle_visible_evaluation_triplets.txt', sep='\t', names= ['user_id','song_ids','play_count'])
users.head()

                                    user_id            song_ids  play_count
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0           1
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3           1
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6           1
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0           1
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11           1

In [113]:
from pandas import DataFrame

temp = DataFrame(users, columns= ['user_id', 'song_ids','play_count'])
export_csv = temp.to_csv (r'./triplets.csv', index = None, header=True)
print(temp)

                                          user_id  ... play_count
0        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...          1
1        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...          1
2        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...          1
3        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...          1
4        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...          1
...                                           ...  ...        ...
1450928  5e650759ebf89012044c6d52121eeada8b0ec814  ...          1
1450929  5e650759ebf89012044c6d52121eeada8b0ec814  ...          2
1450930  5e650759ebf89012044c6d52121eeada8b0ec814  ...          2
1450931  5e650759ebf89012044c6d52121eeada8b0ec814  ...          2
1450932  5e650759ebf89012044c6d52121eeada8b0ec814  ...          3

[1450933 rows x 3 columns]

In [114]:
from sklearn.preprocessing import LabelEncoder

frame = temp
lb_make = LabelEncoder()
frame["user_id_code"] = lb_make.fit_transform(frame["user_id"])
frame[["user_id", "user_id_code"]].head(11)

lb_make2 = LabelEncoder()
frame["song_id_code"] = lb_make2.fit_transform(frame["song_ids"])
frame[["song_ids", "song_id_code"]].head(11)

              song_ids  song_id_code
0   SOBONKR12A58A7A7E0         10546
1   SOEGIYH12A6D4FC0E3         28684
2   SOFLJQZ12A6D4FADA6         36622
3   SOHTKMO12AB01843B0         51861
4   SODQZCY12A6D4F9D11         24663
5   SOXLOQG12AF72A2D55        148312
6   SOUVUHC12A67020E3B        133075
7   SOUQERE12A58A75633        131771
8   SOIPJAX12A8C141A2D         57332
9   SOEFCDJ12AB0185FA0         28367
10  SOATCSU12A8C13393A          4975

In [116]:
frame

                                          user_id  ... song_id_code
0        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...        10546
1        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...        28684
2        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...        36622
3        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...        51861
4        fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  ...        24663
...                                           ...  ...          ...
1450928  5e650759ebf89012044c6d52121eeada8b0ec814  ...       136574
1450929  5e650759ebf89012044c6d52121eeada8b0ec814  ...       134757
1450930  5e650759ebf89012044c6d52121eeada8b0ec814  ...        11310
1450931  5e650759ebf89012044c6d52121eeada8b0ec814  ...        80823
1450932  5e650759ebf89012044c6d52121eeada8b0ec814  ...       122750

[1450933 rows x 5 columns]

In [0]:
export_csv = frame.to_csv (r'./triplets.csv', index = None, header=True)

In [0]:
# spark imports
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql.functions import col
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType

In [0]:
spark = SparkSession \
    .builder \
    .appName("Music Recommender System") \
    .config("spark.driver.maxResultSize", "96g") \
    .config("spark.driver.memory", "96g") \
    .config("spark.executor.memory", "8g") \
    .config("spark.master", "local[12]") \
    .getOrCreate()
# get spark context
sc = spark.sparkContext

In [0]:
df = spark.read.load('./triplets.csv', format='csv', header=True, inferSchema=True)
df.show(10, truncate=False)

+----------------------------------------+------------------+----------+------------+------------+
|user_id                                 |song_ids          |play_count|user_id_code|song_id_code|
+----------------------------------------+------------------+----------+------------+------------+
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SOBONKR12A58A7A7E0|1         |108811      |10546       |
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SOEGIYH12A6D4FC0E3|1         |108811      |28684       |
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SOFLJQZ12A6D4FADA6|1         |108811      |36622       |
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SOHTKMO12AB01843B0|1         |108811      |51861       |
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SODQZCY12A6D4F9D11|1         |108811      |24663       |
|fd50c4007b68a3737fe052d5a4f78ce8aa117f3d|SOXLOQG12AF72A2D55|1         |108811      |148312      |
|d7083f5e1d50c264277d624340edaaf3dc16095b|SOUVUHC12A67020E3B|1         |92390       |133075      |
|d7083f5e1d50c264277d624340edaaf3dc16095b|SOUQERE12A58A75633|1         |92390       |131771      |
|d7083f5e1d50c264277d624340edaaf3dc16095b|SOIPJAX12A8C141A2D|1         |92390       |57332       |
|d7083f5e1d50c264277d624340edaaf3dc16095b|SOEFCDJ12AB0185FA0|2         |92390       |28367       |
+----------------------------------------+------------------+----------+------------+------------+
only showing top 10 rows

In [0]:
# indexer = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in list(set(df.columns)-set(['overall'])) ]
# pipeline = Pipeline(stages=indexer)
# transformed = pipeline.fit(df).transform(df)
# transformed.show(truncate=False)

In [0]:
# user = list(transformed.select('user_id_index').distinct().sort(transformed["user_id_index"])) # Get our unique customers
# song = list(transformed.select('song_ids_index').distinct().sort(transformed["song_ids_index"])) # Get our unique products that were purchased
# playCount = list(transformed.select('play_count')) # All of our purchases

# # rows = transformed.select('user_id_index').astype('category', categories = user).cat.codes 
# # # Get the associated row indices
# # cols = transformed.song_ids_index.astype('category', categories = song).cat.codes 
# # Get the associated column indices
# # playCount_sparse = sparse.csr_matrix((playCount, (user, song)), shape=(len(user), len(song)))

In [0]:
(training,test)=df.randomSplit([0.8, 0.2])

In [0]:
als=ALS(maxIter=5, regParam=0.09,rank=25,userCol="user_id_code",itemCol="song_id_code",ratingCol="play_count",coldStartStrategy="drop",nonnegative=True)
model=als.fit(training)

In [0]:
evaluator=RegressionEvaluator(metricName="rmse",labelCol="play_count",predictionCol="prediction")
predictions=model.transform(test)
predictions.show(50, truncate = False)

+----------------------------------------+------------------+----------+------------+------------+----------+
|user_id                                 |song_ids          |play_count|user_id_code|song_id_code|prediction|
+----------------------------------------+------------------+----------+------------+------------+----------+
|8982c3890ef7a2978292a3c986e61cb914723261|SOAAOQV12A58A7FDFA|1         |59044       |148         |1.0275742 |
|19faa693156a63d3956f9bea38bd1ef594249144|SOABVCK12A6D4F8A92|2         |11215       |471         |0.5101284 |
|ba6186342cce189527238d6961d782a78982ae8f|SOABVCK12A6D4F8A92|2         |80079       |471         |0.30069754|
|cae426aea0ddb4132d197c6ca6ff8281d75a4954|SOADGAX12A8151B896|2         |87115       |833         |1.0532596 |
|cab90d247ebe4fa99117b686e40acbfd58ca2ca0|SOAKBZR12AC468D1DD|1         |87050       |2659        |1.1064874 |
|8439c1a5fbd468d956fceb15a7495c08bc51c54c|SOAOGOV12A8C13ACED|7         |56813       |3749        |0.71650064|
|55b972d3bd087312c570bf501c411412c6b49665|SOAOGOV12A8C13ACED|1         |36784       |3749        |0.38686666|
|9a336136b35549aeca2ecc0d68e5cf5cbc32455f|SOAOGOV12A8C13ACED|1         |66134       |3749        |1.3442959 |
|dc7a1da974ed898e356d3277970ac9d4c8bc478d|SOAOGOV12A8C13ACED|1         |94737       |3749        |1.3043659 |
|56e27943491cedc2eb4a505a080def6a5068fdf0|SOAOGOV12A8C13ACED|1         |37259       |3749        |0.29489112|
|ab428a3ce64b66fc4ab37801b126c90de5b46b4b|SOAOGOV12A8C13ACED|3         |73494       |3749        |3.8756835 |
|9d9e0e02d02ccdbe747d760d4840d4ae02519902|SOAOGOV12A8C13ACED|1         |67657       |3749        |2.662067  |
|b1da390ea4cfeb03d9e80abcc28c0b0631c6b975|SOAOGOV12A8C13ACED|2         |76345       |3749        |2.692673  |
|6615f72ac5a32426a6a528cd22685a08115a9d18|SOAOGOV12A8C13ACED|1         |43813       |3749        |1.3359375 |
|f6b6d11dc93a20d976c195f670781952ad505d27|SOARGYR12A6D4F90C7|1         |105899      |4519        |0.6676656 |
|07c48483fe7d14ce1ca64f38f413dc6dd4a76022|SOARGYR12A6D4F90C7|3         |3374        |4519        |0.87244946|
|950fbfeccbc60ade6ed5964b8d324d3fed9be7c8|SOARGYR12A6D4F90C7|5         |63946       |4519        |1.4610394 |
|7fba40fcf9a21f7bb0143f947d935b5947a51759|SOARGYR12A6D4F90C7|1         |54810       |4519        |1.7686548 |
|8d06f67ebf98f3685726346b182812e01baccbf0|SOARGYR12A6D4F90C7|5         |60544       |4519        |2.030398  |
|1ed19063a4f3f3ecaa4874ea4eafb63c49783e81|SOAVBMC12A6D4F745A|1         |13258       |5518        |1.7134204 |
|0d7b286cd669f1078da7da82b650686e398791fd|SOAYQAJ12A67AE123E|1         |5830        |6466        |0.33060303|
|b39dfda8466831031ccf4f48ed8857a858f2f17c|SOBBSNN12AF72A9C42|1         |77139       |7253        |1.0974667 |
|388f7b7150bd020ce59b82603f7dd29f590ff8ed|SOBCAQT12A6702123E|1         |24383       |7340        |1.00141   |
|82436cfc62dd21607c1d60a00ad7db7e4135f32f|SOBDROL12A6D4F9EED|1         |55924       |7754        |2.3457708 |
|b0e27370b66a67cf83d5562d293dabd4311add5f|SOBFARY12A6310E34F|1         |75943       |8086        |0.89488906|
|64aa07e24cab5618c80bdc076916190024d83f39|SOBHFYO12A6D4FAC8D|1         |43231       |8638        |1.4804353 |
|dbfee1e9a3d1cc23a2453d56d0ff3e9162ea5b38|SOBMFOX12A6D4F5B86|1         |94550       |9900        |0.8885433 |
|360d6dff96604c2cce95c3383d9b70c2a066ba8d|SOBNHMD12A67ADADA3|1         |23311       |10206       |1.1336254 |
|254f817243dbd2539256bf456aa9036f5379b654|SOBNHMD12A67ADADA3|1         |16064       |10206       |2.2536728 |
|3069c3d629d106d80a222cedb4a20361761ef132|SOBNHMD12A67ADADA3|1         |20929       |10206       |0.88243246|
|9b52e895436a0aa8f1290cf863a0994ac58de52e|SOBNHMD12A67ADADA3|1         |66644       |10206       |1.2767642 |
|e57715de18deb3245af1b1e751b06929f0d58d70|SOBNHMD12A67ADADA3|1         |98575       |10206       |1.2492512 |
|39ee1eff10a5c48be44f103f592374d53c692dfa|SOBNHMD12A67ADADA3|1         |25031       |10206       |1.0494484 |
|a0044a2450e744509e42a696e90c5b75f5f36af3|SOBNHMD12A67ADADA3|1         |68699       |10206       |0.7490436 |
|6e93172f31b8240b848a980036b721e5d4e56a02|SOBOUPA12A6D4F81F1|9         |47501       |10623       |0.38634884|
|61338bbdf424e8f8f986ef8f1315aa4df5476a1d|SOBOUPA12A6D4F81F1|1         |41704       |10623       |0.18352605|
|99a61c348645b8153dcc9982ec3853d5a08da0e1|SOBOUPA12A6D4F81F1|1         |65905       |10623       |4.766694  |
|10d63816e42097e44b2b05e2f62ef3b3acebe0ee|SOBOUPA12A6D4F81F1|1         |7281        |10623       |2.4408543 |
|346e890cd7f82b0386ec8d971004b9252c083455|SOBOUPA12A6D4F81F1|1         |22609       |10623       |4.8452806 |
|053b73c5c8b38f195ecab4a6858c832f18e52876|SOBOUPA12A6D4F81F1|3         |2259        |10623       |3.497225  |
|327712b9a51091c064b3ded8c63569722e808f0b|SOBOUPA12A6D4F81F1|1         |21769       |10623       |0.91443443|
|2fe09ed614ae7b3e5e1e991b0c42636a93fa5aca|SOBOUPA12A6D4F81F1|38        |20671       |10623       |2.1283727 |
|4ae4df63d5d70b291dd507da656acf7676105bd4|SOBOUPA12A6D4F81F1|3         |32199       |10623       |1.3279399 |
|92e22578b1dd365da69bf87cd197bfdfb3841a9e|SOBOUPA12A6D4F81F1|1         |63033       |10623       |0.66111124|
|cf7f599565576f0d0d64fba61227d32966601365|SOBOUPA12A6D4F81F1|2         |89109       |10623       |1.5132858 |
|f7b899ab523efde466a1774c4961852938d5f1af|SOBOUPA12A6D4F81F1|3         |106347      |10623       |3.5346136 |
|1fe40010162258712013a9a466324f491a3ad288|SOBOUPA12A6D4F81F1|5         |13701       |10623       |2.0195777 |
|d0f781e47e4777b4bac0c77dd6c170eb833bf068|SOBOUPA12A6D4F81F1|2         |89772       |10623       |1.8618262 |
|81c301ce91b185cea96b633e3105887ae4a72fe1|SOBOUPA12A6D4F81F1|9         |55704       |10623       |3.842008  |
|9d8e4741ca9d8e78acd7b3081d022a4bbacd955c|SOBOUPA12A6D4F81F1|1         |67628       |10623       |1.1754149 |
+----------------------------------------+------------------+----------+------------+------------+----------+
only showing top 50 rows

In [0]:
# rmse = evaluator.evaluate(predictions)

In [0]:
# print("Root-mean-square error = " + str(rmse))

In [0]:
# user_recs=model.recommendForAllUsers(10).show(10, truncate = False)

+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user_id_index|recommendations                                                                                                                                                                                              |
+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|148          |[[132559, 128.63263], [147680, 83.976524], [66419, 82.88117], [125845, 76.72285], [82226, 76.19292], [39411, 76.14007], [162509, 75.64509], [99909, 63.91176], [98323, 63.563046], [117480, 62.751663]]      |
|463          |[[50694, 81.836334], [39411, 64.48308], [147680, 64.23534], [122151, 61.286102], [91642, 56.230762], [18266, 45.621635], [132559, 45.549026], [162509, 43.640633], [125845, 39.744972], [28504, 38.03746]]   |
|471          |[[91642, 166.9629], [90521, 82.83951], [118079, 81.80899], [90425, 70.81573], [28504, 69.14364], [125845, 65.72644], [130593, 63.165348], [147680, 60.90121], [123867, 60.728004], [116217, 54.02317]]       |
|496          |[[98323, 561.9435], [159673, 237.96635], [29924, 204.07669], [130289, 202.01738], [162509, 188.40092], [64530, 180.07327], [96723, 176.96783], [47412, 176.5399], [117683, 176.40698], [94070, 173.90211]]   |
|833          |[[125845, 261.29282], [162509, 211.07877], [91642, 209.26482], [90521, 200.1382], [39411, 183.05717], [132559, 174.52623], [50694, 170.21997], [147680, 165.52065], [82226, 135.1852], [93177, 130.17105]]   |
|1088         |[[91642, 477.74738], [132559, 301.17938], [98323, 163.98624], [123867, 163.49843], [130593, 150.79263], [147680, 148.13669], [28504, 145.4549], [90521, 139.62958], [162509, 136.77386], [122151, 136.32388]]|
|1238         |[[18266, 157.90025], [91642, 144.36684], [50694, 119.0692], [122151, 78.154465], [11315, 73.731895], [62883, 68.069824], [36371, 66.961914], [154520, 66.59154], [9336, 64.87565], [63740, 64.10445]]        |
|1342         |[[132559, 215.22742], [32380, 146.98671], [123867, 143.82867], [40945, 137.36111], [117480, 121.496414], [36371, 117.13508], [91642, 107.41648], [21660, 107.31862], [98323, 104.51557], [46713, 104.25622]] |
|1580         |[[132559, 347.78375], [98323, 195.82375], [159673, 132.96431], [51399, 103.85994], [64530, 102.61894], [162509, 90.60711], [90425, 89.49118], [23038, 87.83676], [36371, 78.12712], [36489, 73.4358]]        |
|1591         |[[50694, 125.0975], [122151, 99.453705], [88869, 85.341286], [132559, 70.60342], [91642, 66.271194], [80202, 65.54762], [147680, 63.61119], [162509, 47.968006], [66419, 47.93394], [47290, 46.066273]]      |
+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [0]:
recs=model.recommendForAllUsers(10).toPandas()

In [0]:
recs

        user_id_code                                    recommendations
0                148  [(86930, 164.18919372558594), (130976, 143.074...
1                463  [(140084, 59.36147689819336), (20335, 54.54523...
2                471  [(140084, 346.9989013671875), (20335, 337.6782...
3                496  [(86930, 102.5612564086914), (20335, 101.52572...
4                833  [(39155, 280.4085388183594), (130976, 217.9136...
...              ...                                                ...
109984        108934  [(86930, 162.45037841796875), (3934, 160.69415...
109985        108946  [(140084, 271.0825500488281), (20335, 264.0805...
109986        108961  [(140084, 114.94924926757812), (20335, 99.6657...
109987        109144  [(20335, 165.97198486328125), (86930, 129.8025...
109988        109297  [(20335, 122.2970199584961), (86930, 58.789989...

[109989 rows x 2 columns]

In [0]:
recs.shape

(109989, 2)

In [0]:
song_df = pd.read_csv('/content/gdrive/My Drive/MscsDs/MillionSongSubset/msd.csv')

In [0]:
song_df.head()

   Unnamed: 0  Unnamed: 0.1  ... artist_familiarty artist_hotness
0           0             0  ...          0.228730       0.000000
1           1             1  ...          0.673239       0.479205
2           2             2  ...          0.380317       0.300918
3           3             3  ...          0.760636       0.547244
4           4             4  ...          0.479735       0.352460

[5 rows x 19 columns]

In [119]:
count = 0
song_id_found = set()
for recValue in recs.values:
    for item in recValue[1]:
      row = frame.loc[frame['song_id_code'] == item.song_id_code]
      song_id = row.song_ids.values[0]
      if ( song_id not in song_id_found) and (song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1):
        rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
        print(" Recommendation to user ", recValue[0], " : ")
        print("   Song: ", rowDetails.song_titles.values[0])  
        print("   Artist: ",  rowDetails.artist_names.values[0])
        song_id_found.add(song_id)
        count += 1
        
    if count > 1:
      break

 Recommendation to user  148  :
   Song:  Seed Will Grow
   Artist:  Ms. Dynamite / Kymani Marley
 Recommendation to user  1088  :
   Song:  Till There Was You (John Creamer & Stephane K Remix)
   Artist:  Rachael Starr

In [118]:
print(" Recommendation to user 148 : ")
for recom in recs.query('user_id_code == 148').recommendations:
  for item in recom:
    row = frame.loc[frame['song_id_code'] == item.song_id_code]
    print("\n   Song ID: ", row.song_ids.values[0])
    song_id = row.song_ids.values[0]
    if song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1:
      rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
      print("     Song: ", rowDetails.song_titles.values[0])  
      print("     Artist: ",  rowDetails.artist_names.values[0])

 Recommendation to user 148 :

   Song ID:  SONGFCZ12AB01859AD

   Song ID:  SOUMPJA12AAF3B3FD0

   Song ID:  SOUEXOI12AB0189BA4

   Song ID:  SODALYQ12AB017EED4

   Song ID:  SOWAWSK12A8C1383B2

   Song ID:  SOAOXTG12A67021AA7
     Song:  Seed Will Grow
     Artist:  Ms. Dynamite / Kymani Marley

   Song ID:  SODJYMH12A8AE46EA5

   Song ID:  SOTFIZA12A8C13D80F

   Song ID:  SORJSQI12A6701D62D

   Song ID:  SOXTUWG12AB018A2E2

In [117]:
print(" Recommendation to user 108811 : ")
for recom in recs.query('user_id_code == 108811').recommendations:
  for item in recom:
    row = frame.loc[frame['song_id_code'] == item.song_id_code]
    print("\n   Song ID: ", row.song_ids.values[0])
    song_id = row.song_ids.values[0]
    if song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1:
      rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
      print("     Song: ", rowDetails.song_titles.values[0])  
      print("     Artist: ",  rowDetails.artist_names.values[0])

 Recommendation to user 108811 :

   Song ID:  SONGFCZ12AB01859AD

   Song ID:  SODALYQ12AB017EED4

   Song ID:  SOUMPJA12AAF3B3FD0

   Song ID:  SOFVLYV12A8C145D8F

   Song ID:  SOTFIZA12A8C13D80F

   Song ID:  SOUEXOI12AB0189BA4

   Song ID:  SORJSQI12A6701D62D

   Song ID:  SOWAWSK12A8C1383B2

   Song ID:  SOJLDIQ12A58A7E506

   Song ID:  SOLLPYO12A8C13B38C