# Install Java, Spark, and Findspark
This installs Apache Spark 2.3.2, Java 8, and [Findspark](https://github.com/minrk/findspark), a library that makes it easy for Python to find Spark.

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www-eu.apache.org/dist/spark/spark-2.4.4/spark-2.4.4-bin-hadoop2.7.tgz
!tar xf spark-2.4.4-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
!pip install py4j
!pip install pyspark

Collecting py4j
  Downloading https://files.pythonhosted.org/packages/04/de/2d314a921ef4c20b283e1de94e0780273678caac901564df06b948e4ba9b/py4j-0.10.8.1-py2.py3-none-any.whl (196kB)
     |████████████████████████████████| 204kB 43.3MB/s
Installing collected packages: py4j
Successfully installed py4j-0.10.8.1
Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/87/21/f05c186f4ddb01d15d0ddc36ef4b7e3cedbeb6412274a41f26b55a650ee5/pyspark-2.4.4.tar.gz (215.7MB)
     |████████████████████████████████| 215.7MB 64kB/s
Collecting py4j==0.10.7
  Downloading https://files.pythonhosted.org/packages/e3/53/c737818eb9a7dc32a7cd4f1396e787bd94200c3997c72c1dbe028587bd76/py4j-0.10.7-py2.py3-none-any.whl (197kB)
     |████████████████████████████████| 204kB 55.2MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-2.4.4-py2.py3-none-any.whl size=216130387 sha256=53fa43efd68d50f78561f4969da5668de7ac38fc64910ef99f251a9199228e49
  Stored in directory: /root/.cache/pip/wheels/ab/09/4d/0d184230058e654eb1b04467dbc1292f00eaa186544604b471
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Found existing installation: py4j 0.10.8.1
    Uninstalling py4j-0.10.8.1:
      Successfully uninstalled py4j-0.10.8.1
Successfully installed py4j-0.10.7 pyspark-2.4.4

# Set Environment Variables
Set the locations where Spark and Java are installed.

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.4-bin-hadoop2.7"

# Start a SparkSession
This will start a local Spark session.

In [0]:
import os
import time

In [0]:
# spark imports
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType
from pyspark.mllib.recommendation import ALS

In [0]:
# data science imports
import math
import numpy as np
import pandas as pd

# visualization imports
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [0]:
import findspark
findspark.init("spark-2.4.4-bin-hadoop2.7")# SPARK_HOME

from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [8]:
from google.colab import drive
drive.mount('/content/gdrive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
!cp /content/gdrive/My\ Drive/MscsDs/msdchallenge/kaggle_visible_evaluation_triplets.txt .

In [0]:
!cp -r /content/gdrive/My\ Drive/MscsDs/MSongsDB-master/PythonSrc .

In [0]:
# ! cd /content/gdrive/My\ Drive/MscsDs/ && tar -zxvf millionsongsubset_full.tar.gz

In [11]:
users = pd.read_table('./kaggle_visible_evaluation_triplets.txt', sep='\t', names= ['user_id','song_ids','play_count'])
users.head()

                                    user_id            song_ids  play_count
0  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOBONKR12A58A7A7E0           1
1  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOEGIYH12A6D4FC0E3           1
2  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOFLJQZ12A6D4FADA6           1
3  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SOHTKMO12AB01843B0           1
4  fd50c4007b68a3737fe052d5a4f78ce8aa117f3d  SODQZCY12A6D4F9D11           1

In [17]:
nd = pd.read_csv('/content/gdrive/My Drive/MscsDs/MillionSongSubset/msd.csv')
nd=nd[['song_ids','song_titles','artist_names']]
nd.head()

             song_ids  ...                    artist_names
0  SONHTWP12A8C142744  ...  Manolis Famellos & I Podilates
1  SOPIHMB12AC468E0DD  ...                      Uriah Heep
2  SODRPJT12AC468DEF1  ...                  Alain-François
3  SOLLOTO12AB01804C6  ...                    Grizzly Bear
4  SOCNYGS12AB01832B8  ...                 Annie Blanchard

[5 rows x 3 columns]

In [0]:
from pandas import DataFrame

temp = DataFrame(users, columns= ['user_id', 'song_ids','play_count'])
temp = pd.merge(users, nd)

In [21]:
temp

                                        user_id  ...                      artist_names
0      c34670d9c1718361feb93068a853cead3c95b76a  ...     Shakira Featuring Wyclef Jean
1      c759e740af57c477fe358e62ad7b3b1f2f113a2f  ...     Shakira Featuring Wyclef Jean
2      8f6e833948caf895a3281ded74ceb32783916e42  ...     Shakira Featuring Wyclef Jean
3      8cd07652ccba3754502c8fa8fe809c418fdcdc8f  ...     Shakira Featuring Wyclef Jean
4      563e8088cbb8affb096d2334531624a8cf7ff3d2  ...     Shakira Featuring Wyclef Jean
...                                         ...  ...                               ...
18127  a4a85f48a7d787b6e17ed38001abcd032cb87c6a  ...                      Aaron Watson
18128  90bac2ccc1660cf444569f3553e6b141d132b2c3  ...  Twinkle Twinkle Little Rock Star
18129  46a363f17bd4e07d2c607779877baedafc07e7d7  ...                       Al Di Meola
18130  8ecfca10c16f046ae53634347d6b9029c40425c0  ...                      Juana Molina
18131  e43d36faeb14c6982e3721a6503ba8978edb9384  ...                       Syl Johnson

[18132 rows x 5 columns]

In [22]:
from sklearn.preprocessing import LabelEncoder

frame = temp
lb_make = LabelEncoder()
frame["user_id_code"] = lb_make.fit_transform(frame["user_id"])
frame[["user_id", "user_id_code"]].head(11)

lb_make2 = LabelEncoder()
frame["song_id_code"] = lb_make2.fit_transform(frame["song_ids"])
frame[["song_ids", "song_id_code"]].head(11)

              song_ids  song_id_code
0   SOEHWGF12A6D4F8B2B           253
1   SOEHWGF12A6D4F8B2B           253
2   SOEHWGF12A6D4F8B2B           253
3   SOEHWGF12A6D4F8B2B           253
4   SOEHWGF12A6D4F8B2B           253
5   SOEHWGF12A6D4F8B2B           253
6   SOEHWGF12A6D4F8B2B           253
7   SOEHWGF12A6D4F8B2B           253
8   SOEHWGF12A6D4F8B2B           253
9   SOEHWGF12A6D4F8B2B           253
10  SOEHWGF12A6D4F8B2B           253

In [23]:
frame

                                        user_id  ... song_id_code
0      c34670d9c1718361feb93068a853cead3c95b76a  ...          253
1      c759e740af57c477fe358e62ad7b3b1f2f113a2f  ...          253
2      8f6e833948caf895a3281ded74ceb32783916e42  ...          253
3      8cd07652ccba3754502c8fa8fe809c418fdcdc8f  ...          253
4      563e8088cbb8affb096d2334531624a8cf7ff3d2  ...          253
...                                         ...  ...          ...
18127  a4a85f48a7d787b6e17ed38001abcd032cb87c6a  ...          587
18128  90bac2ccc1660cf444569f3553e6b141d132b2c3  ...          703
18129  46a363f17bd4e07d2c607779877baedafc07e7d7  ...          604
18130  8ecfca10c16f046ae53634347d6b9029c40425c0  ...          725
18131  e43d36faeb14c6982e3721a6503ba8978edb9384  ...           44

[18132 rows x 7 columns]

In [0]:
export_csv = frame.to_csv (r'./triplets.csv', index = None, header=True)

In [0]:
# spark imports
from pyspark.ml.feature import StringIndexer
from pyspark.ml import Pipeline
from pyspark.sql.functions import col
from pyspark.ml.evaluation import RegressionEvaluator
from pyspark.ml.recommendation import ALS
from pyspark.sql import SparkSession
from pyspark.sql.functions import UserDefinedFunction, explode, desc
from pyspark.sql.types import StringType, ArrayType

In [0]:
spark = SparkSession \
    .builder \
    .appName("Music Recommender System") \
    .config("spark.driver.maxResultSize", "96g") \
    .config("spark.driver.memory", "96g") \
    .config("spark.executor.memory", "8g") \
    .config("spark.master", "local[12]") \
    .getOrCreate()
# get spark context
sc = spark.sparkContext

In [27]:
df = spark.read.load('./triplets.csv', format='csv', header=True, inferSchema=True)
df.show(10, truncate=False)

+----------------------------------------+------------------+----------+--------------------------------------+-----------------------------+------------+------------+
|user_id                                 |song_ids          |play_count|song_titles                           |artist_names                 |user_id_code|song_id_code|
+----------------------------------------+------------------+----------+--------------------------------------+-----------------------------+------------+------------+
|c34670d9c1718361feb93068a853cead3c95b76a|SOEHWGF12A6D4F8B2B|3         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|12353       |253         |
|c759e740af57c477fe358e62ad7b3b1f2f113a2f|SOEHWGF12A6D4F8B2B|6         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|12610       |253         |
|8f6e833948caf895a3281ded74ceb32783916e42|SOEHWGF12A6D4F8B2B|1         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|8967        |253         |
|8cd07652ccba3754502c8fa8fe809c418fdcdc8f|SOEHWGF12A6D4F8B2B|2         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|8818        |253         |
|563e8088cbb8affb096d2334531624a8cf7ff3d2|SOEHWGF12A6D4F8B2B|5         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|5387        |253         |
|4a76d0d9066dd57060f34f5d9deab05a0e68c8a5|SOEHWGF12A6D4F8B2B|2         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|4671        |253         |
|82bc6c3eb139e7b024f085e1077675a4aef12476|SOEHWGF12A6D4F8B2B|1         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|8219        |253         |
|8a8c72ac345403e91362d091db48a700a3d1a6c3|SOEHWGF12A6D4F8B2B|1         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|8679        |253         |
|e5831bac6afc67cd5241fdd9997f91ddcdd10c8f|SOEHWGF12A6D4F8B2B|2         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|14459       |253         |
|9655d1fb5c212be843a4e13505add9c4c8d0e648|SOEHWGF12A6D4F8B2B|2         |Hips Don't Lie (featuring Wyclef Jean)|Shakira Featuring Wyclef Jean|9425        |253         |
+----------------------------------------+------------------+----------+--------------------------------------+-----------------------------+------------+------------+
only showing top 10 rows

In [0]:
# indexer = [StringIndexer(inputCol=column, outputCol=column+"_index") for column in list(set(df.columns)-set(['overall'])) ]
# pipeline = Pipeline(stages=indexer)
# transformed = pipeline.fit(df).transform(df)
# transformed.show(truncate=False)

In [0]:
# user = list(transformed.select('user_id_index').distinct().sort(transformed["user_id_index"])) # Get our unique customers
# song = list(transformed.select('song_ids_index').distinct().sort(transformed["song_ids_index"])) # Get our unique products that were purchased
# playCount = list(transformed.select('play_count')) # All of our purchases

# # rows = transformed.select('user_id_index').astype('category', categories = user).cat.codes 
# # # Get the associated row indices
# # cols = transformed.song_ids_index.astype('category', categories = song).cat.codes 
# # Get the associated column indices
# # playCount_sparse = sparse.csr_matrix((playCount, (user, song)), shape=(len(user), len(song)))

In [0]:
(training,test)=df.randomSplit([0.8, 0.2])

In [0]:
als=ALS(maxIter=5, regParam=0.09,rank=25,userCol="user_id_code",itemCol="song_id_code",ratingCol="play_count",coldStartStrategy="drop",nonnegative=True)
model=als.fit(training)

In [30]:
evaluator=RegressionEvaluator(metricName="rmse",labelCol="play_count",predictionCol="prediction")
predictions=model.transform(test)
predictions.show(50, truncate = False)

+----------------------------------------+------------------+----------+----------------------------------------+----------------------------------------------+------------+------------+----------+
|user_id                                 |song_ids          |play_count|song_titles                             |artist_names                                  |user_id_code|song_id_code|prediction|
+----------------------------------------+------------------+----------+----------------------------------------+----------------------------------------------+------------+------------+----------+
|e9540efbbef64e43274b9243242a6b7805d9ea23|SOQHTUT12A8AE475F2|1         |Let It Go                               |Kirk Franklin with tobyMac & Sonny (of P.O.D.)|14669       |833         |0.45323807|
|50b6af13a2dab6f62d6fcb40857e6858cb1d277a|SOQHTUT12A8AE475F2|1         |Let It Go                               |Kirk Franklin with tobyMac & Sonny (of P.O.D.)|5026        |833         |0.14361864|
|6b7325774444b6833a431c6568ecc1a1dc13137e|SOHCYND12AF72A3CD9|2         |Deliverance                             |Sick Puppies                                  |6718        |392         |0.18159722|
|5676285d65ae3916cffc7306e4cdd57e87a19564|SOHCYND12AF72A3CD9|2         |Deliverance                             |Sick Puppies                                  |5400        |392         |0.12738255|
|13107c1047c7aa78b77abdd569c5a8a2d0656f4b|SOHCYND12AF72A3CD9|1         |Deliverance                             |Sick Puppies                                  |1213        |392         |0.3783775 |
|f730ace25b605210df87b2f8f7e786098f2e9bdc|SOHCYND12AF72A3CD9|1         |Deliverance                             |Sick Puppies                                  |15522       |392         |0.09791306|
|db4a617f8b2591dd9c9fb4fc3cacc6fc4664301e|SORNVVT12AF72A0C39|1         |Intro 2/ Kick Out The Jams (LP Version) |MC5                                           |13831       |897         |4.464061  |
|7570c8d981604a55303eabae535d4893c9d88ed3|SOWGZFG12A8151AF41|3         |Monsoon                                 |Jack Johnson                                  |7365        |1139        |0.6967279 |
|c79757a61275da9490f190ce26839bce70051223|SOWGZFG12A8151AF41|1         |Monsoon                                 |Jack Johnson                                  |12636       |1139        |0.43220574|
|aa8e076a5bb5d588640cb44475538115dd00e734|SOBCKIM12A8C13936C|2         |Pero Me Acuerdo De Tí                   |Christina Aguilera                            |10739       |65          |0.20451252|
|66b888018aaa0c9650e57695a7a280b5c8439cde|SOBCKIM12A8C13936C|2         |Pero Me Acuerdo De Tí                   |Christina Aguilera                            |6384        |65          |0.20208909|
|9fcad0a2a2e70d2b5c08d636c1f832a6cd1787c5|SOBCKIM12A8C13936C|5         |Pero Me Acuerdo De Tí                   |Christina Aguilera                            |10044       |65          |0.24047722|
|cc08a89168e4626e96c4add2741428cc6bb9580f|SOBCKIM12A8C13936C|1         |Pero Me Acuerdo De Tí                   |Christina Aguilera                            |12898       |65          |0.46032727|
|866852a40ef28805eb08345db0ea5f83298dff33|SOPOPLW12A8C13A905|2         |Umbrella                                |All Time Low                                  |8438        |804         |0.7917186 |
|77e9be7a7aeb763c7281f175af5b0f8e137ef05e|SOWQTQZ12A58A7B63E|6         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |7530        |1157        |3.3458128 |
|feb4add07933d0513582357eb37acfaffdd6c1ed|SOWQTQZ12A58A7B63E|13        |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |16002       |1157        |7.806897  |
|03b5cdbea481827ebe9be7e1834f3926039478fd|SOWQTQZ12A58A7B63E|2         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |246         |1157        |0.55763555|
|8f8718a02b26e245271e4c97cd1bd879d3a906ab|SOWQTQZ12A58A7B63E|1         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |8975        |1157        |0.7940686 |
|8caa525aa6d5e4b3ca496ef66474cb13b940d167|SOWQTQZ12A58A7B63E|1         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |8802        |1157        |1.1152711 |
|a8d16acb9faa12319d1f02c608e152499a49bbc4|SOWQTQZ12A58A7B63E|1         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |10616       |1157        |1.2735506 |
|ba52d1f72421e85d8ec9a7710fa241701789e95d|SOWQTQZ12A58A7B63E|1         |Streets On Fire (Explicit Album Version)|Lupe Fiasco                                   |11797       |1157        |0.7973523 |
|fbb95b3033414a8c1eca2f84e2a2a06c566b5419|SOQMWJG12A6701E1AC|1         |Mistadobalina                           |Del Tha Funkee Homosapien                     |15815       |853         |0.32017633|
|810763837886194a5a29369fbf90e2c94c69f8ec|SOBJUKG12A58A7DCA8|3         |Two Hearts                              |Phil Collins                                  |8082        |78          |2.3471355 |
|7f6b98f36f7d8ab61bc7369ba7e852dc68cff13d|SOBJUKG12A58A7DCA8|1         |Two Hearts                              |Phil Collins                                  |7985        |78          |2.5378666 |
|3df157f6460ccd6c5d2e7668f346b3aacec3cee0|SOSYKKS12A8C1388DF|3         |I've Been Missin' You                   |Kenny G                                       |3859        |961         |1.7619411 |
|aeb1c5c11b789ff1a539df055ef98d3e74ba9c15|SOSYKKS12A8C1388DF|1         |I've Been Missin' You                   |Kenny G                                       |10998       |961         |0.06636223|
|79bc03969de1477795a38424217ce64b3c6fea8a|SOGRXZY12A8C139043|2         |Thrill Me                               |Simply Red                                    |7635        |375         |3.0921402 |
|0dfda19a8fe30d8d73dc7877b71274b5288ec4c4|SOSQIHH12A8C13370B|6         |15 Step                                 |Radiohead                                     |898         |950         |0.50227386|
|8aeeb65f0268b7a05000e6d3134ce90556a5bc59|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |8701        |950         |0.17800006|
|5b88f92853699ce0e2f01c94811e9b4b738bbc56|SOSQIHH12A8C13370B|5         |15 Step                                 |Radiohead                                     |5708        |950         |0.12803972|
|a4f7814a2d41fe3ee56d4d9ec61065c0eb4e34c2|SOSQIHH12A8C13370B|5         |15 Step                                 |Radiohead                                     |10376       |950         |0.40219158|
|b2084be1b2af9e87342c4f50afc38aa60262e143|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |11211       |950         |0.2892505 |
|00a36168ed80334a6816e1feefd5b40aba212e31|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |39          |950         |0.76593107|
|67156d29151420f8dc1a07c4ffb0503cd68e6af2|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |6408        |950         |0.39203826|
|d68df3e077f0f7186a253b9d7fbc46bbab9729c7|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |13550       |950         |0.21767785|
|a27b290959968b0a68fc0413c68168abc42862cb|SOSQIHH12A8C13370B|6         |15 Step                                 |Radiohead                                     |10226       |950         |0.26897588|
|9a25d037f6baa53e68718ad5a1efa29eee5f616b|SOSQIHH12A8C13370B|2         |15 Step                                 |Radiohead                                     |9681        |950         |1.088389  |
|4754b7dd2044458b395bc48e0234ac15e6866db9|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |4479        |950         |0.37529486|
|ed4cc725685df08ccf7b91c41849593c635cf472|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |14894       |950         |0.18009022|
|bc18fe85c530d64b1f3f3ec379d99101ca514335|SOSQIHH12A8C13370B|1         |15 Step                                 |Radiohead                                     |11926       |950         |1.0580803 |
|6fc14b3e06c448a9d5d7a62c3690e7f6a82ac5a7|SOCGOZK12A8151BD5D|1         |Fake Tales Of San Francisco             |Arctic Monkeys                                |6997        |126         |0.5295702 |
|67b96f36e135b5f8bb2b225df02b3ab3b60a53c1|SOCGOZK12A8151BD5D|1         |Fake Tales Of San Francisco             |Arctic Monkeys                                |6453        |126         |1.1715788 |
|4c82312f9bbcc5959d3488629f84f13511942f81|SOCGOZK12A8151BD5D|2         |Fake Tales Of San Francisco             |Arctic Monkeys                                |4769        |126         |0.25347772|
|81ed9ee674cc9629c312241d63385b070459077e|SOCGOZK12A8151BD5D|1         |Fake Tales Of San Francisco             |Arctic Monkeys                                |8148        |126         |0.65165347|
|c09b819115c01fe81a1a05be3dc4e584d204c662|SOCGOZK12A8151BD5D|2         |Fake Tales Of San Francisco             |Arctic Monkeys                                |12188       |126         |2.1347234 |
|7d3132b7aa8341f5d7515fb59e38f03d7f068082|SOOGKOY12B34F33114|5         |Refuge                                  |Matisyahu                                     |7847        |756         |0.6455815 |
|fbcf8182103b622c489933422f64e9b57e10c020|SOOGKOY12B34F33114|2         |Refuge                                  |Matisyahu                                     |15822       |756         |1.5800511 |
|05cc826cf9112e83d84f1cecd44fc0e527b047fd|SOQLNEY12B0B8062FA|2         |Dancing Shoes                           |Arctic Monkeys                                |368         |847         |0.70986754|
|47f2b4e16751254b0c0545328e77c5e4d249c1ce|SOQLNEY12B0B8062FA|9         |Dancing Shoes                           |Arctic Monkeys                                |4521        |847         |0.48080844|
|b154143628bfdc0efc14e0229cad21a18a9cf4ad|SOQLNEY12B0B8062FA|1         |Dancing Shoes                           |Arctic Monkeys                                |11168       |847         |0.48080844|
+----------------------------------------+------------------+----------+----------------------------------------+----------------------------------------------+------------+------------+----------+
only showing top 50 rows

In [0]:
rmse = evaluator.evaluate(predictions)

In [44]:
print("Root-mean-square error = " + str(rmse))

Root-mean-square error = 5.517126413712533

In [0]:
# user_recs=model.recommendForAllUsers(10).show(10, truncate = False)

+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|user_id_index|recommendations                                                                                                                                                                                              |
+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|148          |[[132559, 128.63263], [147680, 83.976524], [66419, 82.88117], [125845, 76.72285], [82226, 76.19292], [39411, 76.14007], [162509, 75.64509], [99909, 63.91176], [98323, 63.563046], [117480, 62.751663]]      |
|463          |[[50694, 81.836334], [39411, 64.48308], [147680, 64.23534], [122151, 61.286102], [91642, 56.230762], [18266, 45.621635], [132559, 45.549026], [162509, 43.640633], [125845, 39.744972], [28504, 38.03746]]   |
|471          |[[91642, 166.9629], [90521, 82.83951], [118079, 81.80899], [90425, 70.81573], [28504, 69.14364], [125845, 65.72644], [130593, 63.165348], [147680, 60.90121], [123867, 60.728004], [116217, 54.02317]]       |
|496          |[[98323, 561.9435], [159673, 237.96635], [29924, 204.07669], [130289, 202.01738], [162509, 188.40092], [64530, 180.07327], [96723, 176.96783], [47412, 176.5399], [117683, 176.40698], [94070, 173.90211]]   |
|833          |[[125845, 261.29282], [162509, 211.07877], [91642, 209.26482], [90521, 200.1382], [39411, 183.05717], [132559, 174.52623], [50694, 170.21997], [147680, 165.52065], [82226, 135.1852], [93177, 130.17105]]   |
|1088         |[[91642, 477.74738], [132559, 301.17938], [98323, 163.98624], [123867, 163.49843], [130593, 150.79263], [147680, 148.13669], [28504, 145.4549], [90521, 139.62958], [162509, 136.77386], [122151, 136.32388]]|
|1238         |[[18266, 157.90025], [91642, 144.36684], [50694, 119.0692], [122151, 78.154465], [11315, 73.731895], [62883, 68.069824], [36371, 66.961914], [154520, 66.59154], [9336, 64.87565], [63740, 64.10445]]        |
|1342         |[[132559, 215.22742], [32380, 146.98671], [123867, 143.82867], [40945, 137.36111], [117480, 121.496414], [36371, 117.13508], [91642, 107.41648], [21660, 107.31862], [98323, 104.51557], [46713, 104.25622]] |
|1580         |[[132559, 347.78375], [98323, 195.82375], [159673, 132.96431], [51399, 103.85994], [64530, 102.61894], [162509, 90.60711], [90425, 89.49118], [23038, 87.83676], [36371, 78.12712], [36489, 73.4358]]        |
|1591         |[[50694, 125.0975], [122151, 99.453705], [88869, 85.341286], [132559, 70.60342], [91642, 66.271194], [80202, 65.54762], [147680, 63.61119], [162509, 47.968006], [66419, 47.93394], [47290, 46.066273]]      |
+-------------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
only showing top 10 rows

In [0]:
recs=model.recommendForAllUsers(10).toPandas()

In [32]:
recs

       user_id_code                                    recommendations
0              1580  [(226, 12.034584999084473), (990, 7.5423817634...
1              4900  [(226, 12.202627182006836), (339, 3.8053884506...
2              6620  [(226, 93.89700317382812), (643, 57.0851860046...
3              7340  [(704, 114.73605346679688), (226, 99.090141296...
4              7880  [(226, 47.703304290771484), (704, 34.140014648...
...             ...                                                ...
13134          6438  [(226, 40.68645477294922), (792, 13.7023382186...
13135         15908  [(226, 11.6093168258667), (120, 6.681258678436...
13136            89  [(226, 4.944281578063965), (979, 2.78582954406...
13137          7999  [(226, 67.30372619628906), (990, 64.1438751220...
13138         14879  [(226, 9.831428527832031), (704, 4.22424602508...

[13139 rows x 2 columns]

In [33]:
recs.shape

(13139, 2)

In [0]:
song_df = pd.read_csv('/content/gdrive/My Drive/MscsDs/MillionSongSubset/msd.csv')

In [35]:
song_df.head()

   Unnamed: 0  Unnamed: 0.1  ... artist_familiarty artist_hotness
0           0             0  ...          0.228730       0.000000
1           1             1  ...          0.673239       0.479205
2           2             2  ...          0.380317       0.300918
3           3             3  ...          0.760636       0.547244
4           4             4  ...          0.479735       0.352460

[5 rows x 19 columns]

In [41]:
count = 0
song_id_found = set()
for recValue in recs.values:
    for item in recValue[1]:
      row = frame.loc[frame['song_id_code'] == item.song_id_code]
      song_id = row.song_ids.values[0]
      if ( song_id not in song_id_found) and (song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1):
        rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
        print(" Recommendation to user ", recValue[0], " : ")
        print("   Song: ", rowDetails.song_titles.values[0])  
        print("   Artist: ",  rowDetails.artist_names.values[0])
        song_id_found.add(song_id)
        count += 20
        
    if count > 20:
      break

 Recommendation to user  1580  :
   Song:  Till There Was You (John Creamer & Stephane K Remix)
   Artist:  Rachael Starr
 Recommendation to user  1580  :
   Song:  Are You There (With Another Girl)
   Artist:  Burt Bacharach
 Recommendation to user  1580  :
   Song:  The Dynamo Of Volition [From An All Night Session]
   Artist:  Jason Mraz
 Recommendation to user  1580  :
   Song:  La mujer que no sone (Album)
   Artist:  Ricardo Arjona
 Recommendation to user  1580  :
   Song:  Mas P**' (America'S Mexican)
   Artist:  George Lopez
 Recommendation to user  1580  :
   Song:  Love Ain't No Stranger (2003 Digital Remaster)
   Artist:  Whitesnake
 Recommendation to user  1580  :
   Song:  Illuminate
   Artist:  Orbital
 Recommendation to user  1580  :
   Song:  Song From Moulin Rouge
   Artist:  Percy Faith & His Orchestra
 Recommendation to user  1580  :
   Song:  Camino
   Artist:  Gipsy Kings
 Recommendation to user  1580  :
   Song:  Set The World On Fire
   Artist:  Britt Nicole

In [42]:
print(" Recommendation to user 148 : ")
for recom in recs.query('user_id_code == 148').recommendations:
  for item in recom:
    row = frame.loc[frame['song_id_code'] == item.song_id_code]
    print("\n   Song ID: ", row.song_ids.values[0])
    song_id = row.song_ids.values[0]
    if song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1:
      rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
      print("     Song: ", rowDetails.song_titles.values[0])  
      print("     Artist: ",  rowDetails.artist_names.values[0])

 Recommendation to user 148 :

   Song ID:  SODUSRP12A6D4FA762
     Song:  Till There Was You (John Creamer & Stephane K Remix)
     Artist:  Rachael Starr

   Song ID:  SONCQTI12A8AE477B2
     Song:  Mas P**' (America'S Mexican)
     Artist:  George Lopez

   Song ID:  SOPHJIS12AC3DF5FA3
     Song:  La mujer que no sone (Album)
     Artist:  Ricardo Arjona

   Song ID:  SOCDAIR12A8C131F89
     Song:  The Dynamo Of Volition [From An All Night Session]
     Artist:  Jason Mraz

   Song ID:  SOTMGME12AB017F79B
     Song:  Are You There (With Another Girl)
     Artist:  Burt Bacharach

   Song ID:  SOLTZTZ12A58A7A84F
     Song:  Best Friends
     Artist:  Kieran

   Song ID:  SOOBUUM12A8C13696A
     Song:  Telling Me Lies
     Artist:  Dolores Keane

   Song ID:  SOGLETQ12AB0186E93
     Song:  Pose No Threat
     Artist:  Lunasicc

   Song ID:  SOGEQKA12A6D4FA27C
     Song:  Love Ain't No Stranger (2003 Digital Remaster)
     Artist:  Whitesnake

   Song ID:  SOITOFS12A81C21D00
     Song:  Camino
     Artist:  Gipsy Kings

In [45]:
print(" Recommendation to user 6438 : ")
for recom in recs.query('user_id_code == 6438').recommendations:
  for item in recom:
    row = frame.loc[frame['song_id_code'] == item.song_id_code]
    print("\n   Song ID: ", row.song_ids.values[0])
    song_id = row.song_ids.values[0]
    if song_df.loc[ song_df['song_ids'] == song_id].shape[0] == 1:
      rowDetails = song_df.loc[ song_df['song_ids'] == song_id]
      print("     Song: ", rowDetails.song_titles.values[0])  
      print("     Artist: ",  rowDetails.artist_names.values[0])

 Recommendation to user 6438 :

   Song ID:  SODUSRP12A6D4FA762
     Song:  Till There Was You (John Creamer & Stephane K Remix)
     Artist:  Rachael Starr

   Song ID:  SOPHJIS12AC3DF5FA3
     Song:  La mujer que no sone (Album)
     Artist:  Ricardo Arjona

   Song ID:  SOGLETQ12AB0186E93
     Song:  Pose No Threat
     Artist:  Lunasicc

   Song ID:  SOVFRDB12AB017FF3A
     Song:  Got It Twisted
     Artist:  Mobb Deep

   Song ID:  SOTHZUA12A8C13268A
     Song:  All I Ask For (Album Version)
     Artist:  Ill Nino

   Song ID:  SOZAQVA12AB0183627
     Song:  Eight More Miles To Louisville
     Artist:  Jim Kweskin

   Song ID:  SOITOFS12A81C21D00
     Song:  Camino
     Artist:  Gipsy Kings

   Song ID:  SONCQTI12A8AE477B2
     Song:  Mas P**' (America'S Mexican)
     Artist:  George Lopez

   Song ID:  SOVMKKT12A58A7F0CC
     Song:  Love Unlimited (Explicit)
     Artist:  Fun Lovin' Criminals

   Song ID:  SOCDAIR12A8C131F89
     Song:  The Dynamo Of Volition [From An All Night Session]
     Artist:  Jason Mraz

In [0]:
rec_item = model.recommendForAllItems(10).toPandas()

In [46]:
rec_item

      song_id_code                                    recommendations
0              471  [(6241, 18.191701889038086), (424, 14.06768226...
1              463  [(424, 17.405658721923828), (1907, 15.71860694...
2              833  [(12902, 39.05113220214844), (117, 29.65908813...
3              496  [(6241, 13.5421142578125), (6223, 12.761930465...
4              148  [(6241, 227.50213623046875), (13241, 131.88528...
...            ...                                                ...
1204           401  [(6241, 36.72122573852539), (424, 23.037067413...
1205           422  [(6241, 21.395238876342773), (424, 19.07993888...
1206           517  [(12902, 30.867374420166016), (117, 23.4435768...
1207          1138  [(12902, 35.97333908081055), (424, 33.69433212...
1208            89  [(6241, 26.182523727416992), (13241, 15.178276...

[1209 rows x 2 columns]

In [0]:
# print(" Recommendation for 1138 : ")
# for recom in rec_item.query('song_id_code == 1138').recommendations:
#   for item in recom:
#     row = frame.loc[frame['user_id_code'] == item.user_id_code]
#     print("\n   user_id ID: ", row.user_id.values[0])
#     user_id = row.user_id.values[0]
#     if frame.loc[ frame['user_id'] == user_id].shape[0] > 0:
#       rowDetails = frame.loc[ frame['user_id'] == song_id]
#       print(rowDetails.values)
#       print("     Song: ", rowDetails.song_titles.values[0])  
#       print("     Artist: ",  rowDetails.artist_names.values[0])